@page
@model eToolsWebFramework.Pages.SalesReturnsPages.IndexModel
@{
    ViewData["title"] = "Sales Home Page";
}

@section CustomCSS
{
    <partial name="_MyCustomCSS" />
}

<h2 style="text-align:center">Sales Subsystem</h2>

<blockquote>
    <p>This is the completed solution for the Sales Subsystem.</p>
</blockquote>

<h3>Known Bugs/Errors</h3>

<blockquote>
    No known bugs/errors at this time.
    Known bugs/errors have been fixed.
</blockquote>