@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section CustomCSS
{
    <partial name="_MyCustomCSS" />
}

<div>
    <h2 style="text-align:center">Welcome to Tools R Us</h2>

    <blockquote>
        Tools R Us® Inc. would like to convert their manual Management System into a set of computerized subsystems that will allow employees to manage various aspects of the business via an Intranet application.
        Our team has completed our selected scenarios to bring you our combined solution.
    </blockquote>

    <blockquote>
        <p>Section: A07</p>
        <p>Team: Team 3</p>
        <p>Instructor: James Thompson</p>
    </blockquote>

    <h2 style="margin-top:5rem; text-align:center">Meet our Team</h2>

    <table style="display:table; width:100%">
        <thead>
            <tr class="site-index-table">
                <th>Name</th>
                <th>GitHub</th>
                <th>Subsystem/Scenario</th>
            </tr>
        </thead>
        <tr class="site-index-table">
            <td>Jun (Erick) Cha</td>
            <td>jcha1nait</td>
            <td>Sales</td>
        </tr>
        <tr class="site-index-table">
            <td>Wenling Lyu</td>
            <td>WenlingLyu</td>
            <td>Purchasing</td>
        </tr>
        <tr class="site-index-table">
            <td>Julian De Leon</td>
            <td>julian-deleon</td>
            <td>Receiving</td>
        </tr>
    </table>
</div>
