@page
@model eToolsWebFramework.Pages.PurchasingPages.IndexModel
@{
        ViewData["title"] = "Purchasing Home Page";
}

@section CustomCSS
{
    <partial name="_MyCustomCSS" />
}

<h2 style="text-align:center">Purchasing Subsystem</h2>

<blockquote>
    <p>This is the completed solution for the Purchasing Subsystem.</p>
</blockquote>

<h3>Known Bugs/Errors</h3>
<p>Unable to Refresh Item</p>